<div class="container">
    <div class="effect-1">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2">
        <img src="assets/img/effect-2.svg" title="" alt="">
    </div>
    <div class="row align-items-center justify-content-center gy-5 pb-3">
        <div class="col-lg-6 col-xl-5">
            <div class="about-banner text-center">
                <img src="assets/img/full-stack.jpg" height="350" title="" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 px-lg-5">
            <div class="about-text">
                <div class="section-heading">
                    <h6><span>ABOUT ME</span></h6>
                    <h2>I AM AVAILABLE FOR <span>FULL-STACK</span> PROJECTS</h2>
                </div>
                <p> I possess a comprehensive skill set that enables me to handle both front-end and back-end development tasks, providing end-to-end solutions for web, desktop, and mobile applications. </p>
                <div class="review-box">
                    <div class="r-box">
                        <h3>20<span>+</span></h3>
                        <label>Successful Projects</label>
                    </div>
                    <div class="r-box">
                        <h3>6<span>+</span></h3>
                        <label>Years Experience</label>
                    </div>
                    <div class="r-box">
                        <h3>2<span>+</span></h3>
                        <label>Awward Winning</label>
                    </div>
                </div>
                <div class="btn-bar" (click)="goToContact()">
                    <a class="px-btn"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>