<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6><span>My Work</span></h6>
                <h2>RECENT PROJECTS</h2>
            </div>
        </div>
    </div>
    <div class="lightbox-gallery">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="project-box">
                    <div class="project-media">
                        <img src="assets/img/retailgames-landingpage.png" title="" alt="">
                        <!-- <a class="gallery-link" href="assets/img/retailgames-landingpage.png" data-title="Caption for image 1" data-lightbox="services"><i class="bi-plus"></i></a> -->
                        <a class="gallery-link p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_1"><i
                                class="bi-plus"></i> </a>
                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>RetailGames PWA</h5>
                            <span>Progressive Web Application on Firebase</span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_1"><i
                                    class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-box">
                    <div class="project-media">
                        <img src="assets/img/covid-landingpage.png" title="" alt="">
                        <a class="gallery-link p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_2"><i
                                class="bi-plus"></i> </a>
                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>PFIZER BLE</h5>
                            <span>COVID-19 Vaccine Traceability System</span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_2"><i
                                    class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-box">
                    <div class="project-media">
                        <img src="assets/img/retailpay-landing.png" title="" alt="">
                        <a class="gallery-link p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_3"><i
                                class="bi-plus"></i> </a>
                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>MOBILE P.O.S APP for SUNMNI V2</h5>
                            <span>RetailPay - multi-currency, multi-language, and multiple forms of payments </span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_3"><i
                                    class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-box">
                    <div class="project-media">
                        <img src="assets/img/ghostvallis.png" title="" alt="">
                        <a class="gallery-link p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_4"><i
                                class="bi-plus"></i> </a>
                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>Firebase Chatroom</h5>
                            <span>Multiplayer chatroom mini-game </span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_4"><i
                                    class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-box">
                    <div class="project-media">
                        <img src="assets/img/pos-machine.jpg" title="" alt="">
                        <a class="gallery-link p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_5"><i
                                class="bi-plus"></i> </a>
                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>P.O.S System</h5>
                            <span>Retail P.O.S for Linux/CentOS/RedHat</span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_5"><i
                                    class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-box">
                    <div class="project-media">
                        <img src="assets/img/crm.png" title="" alt="">
                        <a class="gallery-link p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_6"><i
                                class="bi-plus"></i> </a>
                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>Real Estate CRM Website design</h5>
                            <span>CRM system design</span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_6"><i
                                    class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-box">
                    <div class="project-media">
                        <img src="assets/img/naval.jpg" title="" alt="">
                        <a class="gallery-link p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_7"><i
                                class="bi-plus"></i> </a>

                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>Naval Agency ERP System</h5>
                            <span>Visual Basic 6 desktop application</span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_7"><i
                                    class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-box">
                    <div class="project-media">
                        <img src="assets/img/keypac.jpeg" title="" alt="">
                        <a class="gallery-link p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_8"><i
                                class="bi-plus"></i> </a>

                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>Qualified Authorized Provider (QAP) API REST</h5>
                            <span>Dot Net Core Web Service</span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_8"><i
                                    class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>