<main class="wrapper" id="scroll-container">

    <section id="home" spyTarget="home" class="spy-section home-section">
        <app-home></app-home>
    </section>
    <section class="brand-section section gray-bg">
        <app-brands></app-brands>
    </section>
    <section id="about" spyTarget="about" class="spy-section about-section section">
        <app-about></app-about>
    </section>

    <section id="project" spyTarget="project" class="spy-section project-section section gray-bg">
        <app-work></app-work>
    </section>

    <!-- <section id="services" spyTarget="services" class="spy-section section">
        <app-services></app-services>
    </section> -->

    <section class="section gray-bg">
        <app-experience></app-experience>
    </section>

    <!-- <section class="section effect-section pb-0">
        <app-testimonials></app-testimonials>
    </section> -->

    <section id="contactus" spyTarget="contactus" class="spy-section section contactus-section">
        <app-contact></app-contact>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p class="m-0 text-center">© 2023 copyright all right reserved</p>
        </div>
    </footer>
    <a href="#home" id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
    <!-- End Footer -->
</main>
<!-- Snigle 1 -->
<div class="modal fade" id="project_1" tabindex="-1" aria-labelledby="project_1" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <img class="border" src="assets/img/retailgames-admin.png" title="" alt="">
                        </div>
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <h4>PWA for Gamification Marketing Startup</h4>
                            <p class="mb-3">RetailGames is a blend of advertising and gaming, where branded games are
                                created specifically to promote a product or service.
                                These PWA allows customers to engage with clients through games and collect user
                                information valuable for the brand's demographical analysis.
                            </p>
                            <p>These games are designed to be highly engaging, ensuring that players spend a significant
                                amount of time interacting with the brand.
                                This aims to create a positive association between the game experience and the brand,
                                leading to increased brand recall and customer loyalty.
                            </p>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Type:</span>
                                        <span>PWA App</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Langages:</span>
                                        <span>Flutter, HTML, Dot Net Core, JS, ASP.NET, MySql, GoogleCloud</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Platform:</span>
                                        <span>Firebase</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Country:</span>
                                        <span>USA, Panama</span>
                                    </li>
                                    <!-- <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Snigle 1 -->
<!-- Snigle 2 -->
<div class="modal fade" id="project_2" tabindex="-1" aria-labelledby="project_2" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <img class="border" src="assets/img/covid-mini.png" title="" alt="">
                        </div>
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <h4>Panama COVID-19 Vaccine Traceability System</h4>
                            <p class="mb-3">After Pfizer developed the first COVID-19 vaccine, they needed countries to
                                maintain the correct temperature range for the vaccine from handling to injection.
                                To help with this, we installed a Bluetooth Low Energy (BLE) temperature probe in the
                                softbox, which sent temperature data to the cloud using an LTE IoT modem.</p>
                            <p>Designed and implemented a cold-chain and vaccine statistics system along with Pfizer.co
                                for big data
                                exploitation and traceability used nationwide (Panama) by more than 4,000,000 citizens.
                            </p>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Type:</span>
                                        <span>IOT BLE Hardware, API Webservice</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Langages:</span>
                                        <span>Android, Dot Net REST WEB API, MySql database.</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Platform:</span>
                                        <span>Web Service</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Country:</span>
                                        <span>USA, PANAMA</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Blog URL:</span>
                                        <a
                                            href="https://summits.harrisburgu.edu/analyticssummit/events/track-2-virtual-from-theory-to-practice-the-case-of-panama-big-data-ecosystem-design-and-delivery-779/">CLICK
                                            HERE</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Snigle 2 -->
<!-- Snigle 3 -->
<div class="modal fade" id="project_3" tabindex="-1" aria-labelledby="project_3" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <img class="border" src="assets/img/retailpay-landing.png" title="" alt="">
                        </div>
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <h4>MOBILE P.O.S APP for SUNMNI V2</h4>
                            <p class="mb-3">In my role as a UX/UI Designer and Front-End Developer, I spearheaded the
                                design and development of a comprehensive mobile point of sale (POS) system for the
                                <a href="https://www.sunmi.com/en-US/v2s/">SUMNI V2s</a>, which is now utilized in over
                                2,000 panamanian retail stores.
                            </p>
                            <p>The POS system supports transactions in multiple currencies, allowing retailers to cater
                                to international customers with ease. Multi-language support, ensuring accessibility and
                                ease of use for staff in different
                                regions.
                                Receipt Printing: Integrated with receipt printers, the software can print transaction
                                receipts directly from the device. QR Code Scanning: Equipped with QR code scanning
                                capabilities, the system supports
                                various promotional and payment methods, streamlining the checkout process.</p>
                            <p>Payment Flexibility: The system is designed to handle various forms of payments,
                                including credit/debit cards, mobile payments, and digital wallets, providing
                                flexibility and convenience at checkout.</p>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Type:</span>
                                        <span>Mobile APP</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Langages:</span>
                                        <span>Android, Python, MySql</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Platform:</span>
                                        <span>Android</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Country:</span>
                                        <span>PANAMA</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Snigle 3 -->
<!-- Snigle 4 -->
<div class="modal fade" id="project_4" tabindex="-1" aria-labelledby="project_4" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <img class="border" src="assets/img/ghostvallis-firebase.png" title="" alt="">
                        </div>
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <h4>Website Design for Mini-game Chatroom</h4>
                            <p class="mb-3">Ghostvallis is a multiplayer web app game built with vanilla JavaScript. It
                                uses Firebase Realtime Database for real-time player movements, coin tracking, and
                                instant messaging. The game ensures seamless synchronization, with each player's
                                movements and coin collections instantly updated in the database and rendered on all
                                players' screens. </p>
                            <p>Additionally, the instant messaging feature allows for real-time communication among
                                players. This setup provides an engaging, interactive experience, showcasing the
                                capabilities of vanilla JavaScript and Firebase for creating real-time, dynamic web
                                applications.</p>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Type:</span>
                                        <span>Website</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Langages:</span>
                                        <span>HTML, CSS, JS</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Platform:</span>
                                        <span>Firebase</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Country:</span>
                                        <span>USA</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Live URL:</span>
                                        <a href="https://ghostvallis.firebaseapp.com/">CLICK HERE</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Snigle 4 -->
<!-- Snigle 5 -->
<div class="modal fade" id="project_5" tabindex="-1" aria-labelledby="project_5" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <img class="border" src="assets/img/pos-image.png" title="" alt="">
                        </div>
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <h4>Desktop P.O.S System for Linux/CentOS/Redhat</h4>
                            <p class="mb-3">RetailBos is an advanced point of sale (POS) system designed to meet the
                                needs of large-scale retailers, comparable to Walmart and Target. It supports multiple
                                currencies and payment methods, making it a versatile solution for diverse retail
                                environments. RetailBos features a touch-enabled interface, enhancing user experience
                                and efficiency at the checkout counters.
                                The system is widely adopted, with over 1,500 installations across Panama, demonstrating
                                its reliability and effectiveness in handling high-volume retail operations. RetailBos
                                is built using Java 8, ensuring robust performance and compatibility with modern
                                systems. </p>
                            <p>The backend infrastructure leverages MySQL and Microsoft SQL Server (MSSQL) databases,
                                providing flexible and scalable data management solutions.
                                To ensure data integrity and availability, RetailBos employs a database replication
                                scheme, allowing for real-time synchronization and backup across multiple systems. This
                                feature is crucial for maintaining continuous operations and safeguarding against data
                                loss.</p>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Type:</span>
                                        <span>Desktop</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Langages:</span>
                                        <span>Java Swing, Python, MySql</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Platform:</span>
                                        <span>Linux/CentOS/Redhat</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Country:</span>
                                        <span>PANAMA</span>
                                    </li>
                                    <!-- <li class="d-flex">
                                        <span class="col-4 col-lg-3">Live URL:</span>
                                        <span>www.example.com</span>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Snigle 5 -->
<!-- Snigle 6 -->
<div class="modal fade" id="project_6" tabindex="-1" aria-labelledby="project_6" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <img class="border" src="assets/img/crm.png" title="" alt="">
                        </div>
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <h4>Website Design for a Real Estate CRM</h4>
                            <p class="mb-3">I assembled a comprehensive web application by implementing full-stack
                                development methods to create a client-based system for managing all government-related
                                job applications, catering to over 100,000 hires.
                                The front end was developed using Angular.js, providing a dynamic and responsive user
                                interface that ensures a seamless experience for applicants and administrators alike.
                            </p>
                            <p>For the backend, I utilized Dot NET Core WEB API REST to develop robust and scalable APIs
                                that handle the core business logic and data processing. This architecture allows for
                                efficient communication between the client side and the server, ensuring that data is
                                processed and delivered quickly and reliably.</p>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Type:</span>
                                        <span>Website</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Langages:</span>
                                        <span>HTML, CSS, JS, DotNet Core</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Platform:</span>
                                        <span>React</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Country:</span>
                                        <span>USA</span>
                                    </li>
                                    <!-- <li class="d-flex">
                                        <span class="col-4 col-lg-3">Live URL:</span>
                                        <span>www.example.com</span>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Snigle 6 -->
<!-- Snigle 7 -->
<div class="modal fade" id="project_7" tabindex="-1" aria-labelledby="project_7" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <img class="border" src="assets/img/vb-logo.png" title="" alt="">
                        </div>
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <h4>Visual Basic 6 desktop app for Naval Agency</h4>
                            <p class="mb-3">I devised a comprehensive accounting system to manage over 750,000 financial
                                transactions for international naval agencies, including <a
                                    href="https://agenco.com/">AGENCO</a>, <a href="https://nortonlilly.com/">NORTON
                                    LILLY</a>, and <a href="https://boydsteamship.com/web/">BOYD
                                    Steamship Corp</a>. This system efficiently handles a wide array of financial data,
                                including balance sheets, income statements, sales records, invoices, and liabilities.
                            </p>
                            <p class="mb-3">The development of this system utilized Visual Basic for the application
                                logic, ensuring
                                a user-friendly interface and smooth operation. The backend was powered by Microsoft SQL
                                Server (MSSQL), which provided a robust and scalable database solution to manage the
                                extensive data involved.</p>
                            <p class="mb-3">In addition to basic record-keeping, I programmed advanced financial
                                functions within the system to perform critical analyses. These functions included ratio
                                analysis to assess financial health, performance analysis to evaluate operational
                                efficiency, and forecasting to predict future financial trends. The system also
                                supported accrual accounting methods, ensuring that revenues and expenses were recorded
                                accurately and timely.</p>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Type:</span>
                                        <span>Desktop App</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Langages:</span>
                                        <span>VB6, MSSQL</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Platform:</span>
                                        <span>Desktop</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Country:</span>
                                        <span>Panama</span>
                                    </li>
                                    <!-- <li class="d-flex">
                                        <span class="col-4 col-lg-3">Live URL:</span>
                                        <span>www.example.com</span>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Snigle 7 -->
<!-- Snigle 8 -->
<div class="modal fade" id="project_8" tabindex="-1" aria-labelledby="project_8" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <img class="border" src="assets/img/vb-logo.png" title="" alt="">
                        </div>
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <h4>Qualified Authorized Provider (QAP) API REST</h4>
                            <p class="mb-3">I developed a Qualified Authorized Provider (QAP) system for taxpayers,
                                designed to facilitate the transition to electronic invoicing as mandated by new legal
                                requirements. This system replaces traditional fiscal printers, ensuring compliance with
                                current regulations for all businesses.
                            </p>
                            <p class="mb-3">The QAP system is built as a web service using .NET Core, leveraging RESTful
                                API architecture. This approach ensures that the system is scalable, secure, and capable
                                of handling high volumes of transactions efficiently. By providing a standardized and
                                automated method for issuing electronic invoices, the system simplifies the invoicing
                                process for businesses, reducing the need for manual intervention and minimizing errors.
                            </p>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Type:</span>
                                        <span>REST API</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Langages:</span>
                                        <span>Dot Net Core</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Platform:</span>
                                        <span>Desktop</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Country:</span>
                                        <span>Panama</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">More Info:</span>
                                        <a href="https://key-pac.com/empresa/">CLICK HERE</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Snigle 8 -->