<div class="container">
    <div class="section-heading">
        <h6><span>Experience</span></h6>
        <h2>My Work <span>Experience</span></h2>
    </div>
    <div class="row gy-3">
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>FullStack Developer IT Project Scrum</h4>
                            <span>In-Person | Remote</span>
                            <p>June 2018 - Present</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>IDTechLogistics</h5>
                            <p class="m-0">Id Tech Logistic is a Panamanian company specializing in the development of projects related to Logistics Consulting, Information Solutions, and Technology. They provide a range of services designed to enhance operational efficiency, streamline processes, and integrate cutting-edge technology solutions to meet the evolving needs of their clients. With expertise in logistics and information technology, Id Tech Logistic is dedicated to delivering tailored solutions that drive business growth and innovation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>DevOps Engineer Gitlab admin</h4>
                            <h4>IT Manager</h4>
                            <span>In-Person | Remote</span>
                            <p>October 2017 - Present</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>Grupo Advisers</h5>
                            <p class="m-0">Sub-branch of IDTechLogistics</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Full-Stack Developer IT Consultant</h4>
                            <span>In-Person | Remote</span>
                            <p>Jan 2019 - May 2022</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>Public Institution</h5>
                            <p class="m-0">Involved in the comprehensive design, software development, and implementation of a traceability system for COVID-19 vaccines used nationwide. This includes the structuring and development of databases, front-end interfaces, and back-end systems to ensure seamless tracking and management of vaccine distribution and administration.

                                Additionally, responsible for designing, implementing, and maintaining services for all government-related population surveys conducted during yearly elections. This encompasses the creation of reliable systems to manage data collection, processing, and reporting to support electoral processes efficiently and accurately.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>