<div class="container mb-3">
    <div class="row align-items-center">
        <div class="col-lg-8">
            <div class="hs-text-box">
                <h6><span>Moises Villarreal</span></h6>
                <h1>Hey! I’m Moises</h1>
                <h2>I'm <span class="typed-element"></span></h2>
                <p class="text">Computer science and Minor in Innovation and Entrepreneurship graduate from Oregon State University. 6+ years of profesional experience in software development and 2+ years of experience in web development.
                    Passionate about software development and eager to make an impact in the tech industry.</p>
                <div class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row">
                    <a class="px-btn" (click)="goToContact()"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                    <div class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
                        <!-- <a class="handshake" href=""><i class="fab fa-handshake-o"></i></a> -->
                        <a class="github" href="https://github.com/Moyocay"><i class="fab fa-github"></i></a>
                        <a class="linkedin m-0" href="https://www.linkedin.com/in/moises-alberto-villarreal-casas-103b65243/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hs-banner">
                <img src="assets/img/profile-pic.png" title="" alt="">
            </div>
        </div>
    </div>
</div>